@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 30rem;
  width: 45rem;
}
@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .h-screen {
    height: 144vh !important;
  }
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .h-screen {
    height: 200vh !important;
  }
  #lineGraph {
    height: 30rem;
    width: 45rem;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .h-screen {
    height: 262vh !important;
  }
  #lineGraph {
    height: 30rem;
    width: 45rem;
  }
}
